.pytest_cache/
docs/build/
examples/__pycache__/
examples/Output.ass
examples/1 - Basics/Output.ass
examples/2 - Beginner/Output.ass
examples/3 - Advanced/Output.ass
examples/scripts/
pyonfx/__pycache__/
tests/Ass - Crazy/
tests/__pycache__/
tests/Output.ass